@charset "ISO-8859-1";

body {
	font-family: "Lato", sans-serif;
}

.logobar {
	height: 30px;
	width: 100%;
	margin-left: 90%;
	position:fixed;
}

.sidemenu {
	height: 100%;
	width: 225px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
	display: flex;
	flex-direction: column;	
}

.sidemenu a, .expand-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.sidemenu a:hover, .expand-btn:hover {
	color: #f1f1f1;
}


.main {
	margin-left: 225px; /* Same as the width of the sidenav */
	font-size: 15px;
	padding: 0px 10px;
}

.expander-active {
  background-color: blue;
  color: white;
}

.expand-list {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.expander {
  float: right;
  padding-right: 8px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
	layout: fixed
}

th {
	text-align: left;
	padding: 16px;
	cursor: pointer;
}

td {
	text-align: left;
	padding: 16px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.pagination {
  font-size: 13px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.container {
 height: 300px;
 overflow-y: scroll;
}

.sidemenu a.bottomlink {
	margin-top: auto;
    padding-bottom: 40px;
    font-size: 14px;
    color: blue;
}

.divider {
     border-top: 2px solid #ccc; /* Grey border line */
     text-align: center; /* Center align text */
     margin: 20px 0; /* Add some margin top and bottom */
 }
 .divider-text {
     display: inline-block; /* Make text center align */
     background-color: white; /* Optional: You can set background color for text */
     padding: 0 10px; /* Optional: Add padding to text */
 }